@import 'variables';

body {
  background-color: $background-color;
  font-family: Arial, sans-serif;
}

.app {
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  select,
  button {
    margin-right: 10px;
  }
}