@import 'variables';

body {
  background-color: $background-color;
  font-family: Arial, sans-serif;
}

.app {
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  select,
  button {
    margin-right: 10px;
  }
}

.employee-form {
  div {
    margin-bottom: 10px;

    label {
      display: block;
    }

    input[type="text"],
    select {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  button {
    padding: 10px 20px;
    background: $primary-color;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}