.employee-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .employee-card-link {
    text-decoration: none;
    color: inherit;

    .employee-card {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.02);
      }

      h3 {
        margin-top: 0;
        font-size: 1.5em;
      }

      p {
        margin: 5px 0;
      }

      strong {
        color: #333;
      }
    }
  }
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 600px) {
  .employee-list {
    .employee-card {
      padding: 15px;

      h3 {
        font-size: 1.2em;
      }

      p {
        font-size: 0.9em;
      }
    }
  }
}

/* Адаптивный дизайн для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
  .employee-list {
    .employee-card {
      padding: 18px;

      h3 {
        font-size: 1.3em;
      }

      p {
        font-size: 1em;
      }
    }
  }
}

/* Адаптивный дизайн для настольных компьютеров */
@media (min-width: 1025px) {
  .employee-list {
    .employee-card {
      padding: 20px;

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }
    }
  }
}